.item-field {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.item-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.data-list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08),
        0 0 20px rgba(0, 0, 0, 0.05);
    z-index: 20;
}

.data-list::-webkit-scrollbar {
    display: none;
}

.data-item {
    padding: 15px;
}

.data-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}