.detail-container {
    --cols: 2;
    --spacing: 8px;
    display: flex;
    flex-wrap: nowrap;
    /* height: 100%; */
}

.detail-left-container,
.detail-right-container {
    width: calc((100% / var(--cols)) - (var(--spacing) * 2));
    margin: var(--spacing);
}

/* .detail-left-container {
    background-color: #ccc;
} */

.image-lagre-container,
.image-small {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-small {
    height: 100%;
}

.image-small.active {
    border: 2px solid var(--primary-color);
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 24px 0;
}

.action-text,
.like-text {
    font-size: 18px;
}

.heart-icon {
    width: 20px;
    height: 20px;
    color: #de0217;
}


.action-share,
.action-like {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actions-btn {
    border: none !important;
    background-color: transparent;
    outline: none !important;
    margin: 0 8px;
    cursor: pointer;
}

/* .detail-right-container {
    background-color: #eee;
} */
.badge-product {
    padding: 3px;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
}

.name-product {
    line-height: 1.5;
    font-size: 16px;
    text-transform: capitalize;
    text-align: justify;
}

.count-actions-container {
    display: flex;
    align-items: center;
}

.count-number {
    text-decoration: underline;
    color: var(--primary-color);
}

.count-text,
.question-icon {
    color: #ccc;
}

.price-container {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 24px 10px;
}

.price {
    color: var(--primary-color);
}

.price span {
    font-size: 25px;
}

.price sup {
    display: inline-block;
    transform: translateY(-4px);
    margin-right: 3px;
    text-decoration: underline;
}

.desc-price {
    display: flex;
    align-items: center;
}

.desc-text-top {
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.code-sales-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sales-text {
    color: #ccc;
}

.code-sales-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.code-sales-item {
    position: relative;
    margin: var(--spacing);
    background-color: #fbebed;
    color: #f17159;
    font-weight: 600;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code-sales-item::before {
    content: "";
    width: 6px;
    height: calc(100% - 3px);
    position: absolute;
    top: 1px;
    right: -2px;
    background-image: radial-gradient(#fff 2px, transparent 0);
    background-size: 6px 6px;
    background-position-x: -6px;
}

.code-sales-item::after {
    content: "";
    width: 6px;
    height: calc(100% - 3px);
    position: absolute;
    top: 1px;
    left: -2px;
    background-image: radial-gradient(#fff 2px, transparent 0);
    background-size: 6px 6px;
    background-position-x: -6px;
}

.code-sales-item sup {
    transform: translateY(-4px);
    text-decoration: underline;
}

.ship-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ship-text {
    color: #ccc;
    min-width: 80px;
}

.logo-ship {
    width: 25px;
    height: 25px;
}

.color-product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.actions-product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color-lists {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.color-item {
    padding: 5px 24px;
    border: 1px solid var(--black-color);
    border-radius: 3px;
    margin: 6px;
}

.color-item:first-child {
    margin-left: 0;
}

.size-container {
    display: flex;
    align-items: center;
    height: 30px;
}

.sub-product,
.plus-product {
    border: 1px solid #ccc;
    padding: 4px 12px;
    width: 30px;
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity {
    height: 100%;
}

.quantity input {
    border: 1px solid #ccc;
    outline: none !important;
    height: 100%;
    width: 60px;
    text-align: center;
}

.btn {
    border: 1px solid transparent !important;
    outline: none !important;
    background-color: transparent;
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bgc-opacity {
    border: 1px solid #ed4d2d !important;
    background-color: #fff5f1;
    color: #ed4d2d;
}

.bgc {
    background-color: #f05d40;
    padding: 12px 20px;
}

.btn:hover {
    opacity: 0.9;
}

.secure-logo {
    width: 20px;
    height: 20px;
}

.detail-desc-conatiner {
    margin-bottom: 20px;
}

.detail-desc-title,
.detail-feedback-title,
.detail-list-feedback-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detail-desc-item {
    line-height: 1.5;
    font-size: 15px;
}

.btn_feedback {
    margin-top: 12px;
    border: none !important;
    outline: none !important;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;
}

.btn_feedback:hover {
    cursor: pointer;
}

.btn_feedback_disabled {
    cursor: default !important;
    user-select: none;
    opacity: 0.6;
}

.detail-list-feedback-lists {
    padding: 10px 20px;
    border: 1px solid #c3c3c3;
    border-radius: 8px;
}

.detail-list-feedback-item {
    border-bottom: 1px solid #c3c3c3;
}

.detail-list-feedback-item:last-child {
    border-bottom: none;
}

.detail-list-feedback-item-infouser-conatiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-list-feedback-item-infouser {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.action-container {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.avatar-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: fill;
}

.name-user {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}

.createdAt-container {
    display: flex;
    align-items: center;
}

.createdAt {
    font-size: 13px;
    color: #c3c3c3;
    font-style: italic;
}

.detail-list-feedback-item-content {
    margin: 25px 0;
    display: flex;
}

.image-product {
    width: 30%;
    height: 150px;
    object-fit: fill;
}

.content-desc {
    width: 70%;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}