.page-not-found-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-not-found-image {
    width: 300px;
    height: 300px;
}

.backToHome {
    font-size: 20px;
    margin: 12px 0;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ededed;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}