:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --facebook-color: #3867d6;
    --start-gold-color: goldenrod;
    --header-height: 130px;

    --table-status-confirm-color: #007aff;
    --table-status-confirm-bgc: #e6f5ff;
    --table-status-complete-color: #4CAF50;
    --table-status-complete-bgc: #edf7ee;
    --table-status-onhold-color: #ffab00;
    --table-status-onhold-bgc: #fff7e6;
    --table-status-cancel-color: #d50000;
    --table-status-cancel-bgc: #ffebea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

.nosupport {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 12px;
}

.image-nosupport {
    width: 50px;
    height: 50px;
    object-fit: fill;
    margin-bottom: 20px;
}

.nosupport-desc {
    font-size: 15px;
    letter-spacing: 1px;
}

.alert {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px !important;
    margin-bottom: 8px;
}

.text-center {
    text-align: center !important;
}

.fb_iframe_widget span {
    margin-top: 3px !important;
}

.ml8 {
    margin-left: 8px;
}

.ml8+.ml8 {
    margin-left: 8px;
}

.ml12 {
    margin-left: 12px;
}

.ml2 {
    margin-left: 2px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.mb12 {
    margin-bottom: 12px;
}

.mr8 {
    margin-right: 8px;
}

.mr12 {
    margin-right: 12px;
}

.mt12 {
    margin-top: 12px;
}

.mt0 {
    margin-top: 0;
}

.mr2 {
    margin-right: 2px;
}

.mr4 {
    margin-right: 4px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mb8 {
    margin-bottom: 8px;
}

.pr0 {
    padding-right: 0 !important;
}

.pr18 {
    padding-right: 18px !important;
}

.fz16 {
    font-size: 16px;
}

.fz14 {
    font-size: 14px;
}

.fz22 {
    font-size: 22px;
}

.d-flex {
    display: flex;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.underline {
    text-decoration: underline;
}

.ps-relative {
    position: relative;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.fwb {
    font-weight: bold;
}

.cr-pointer {
    cursor: pointer;
}

.divider {
    height: 15px;
    width: 1px;
    background-color: #ccc;
}

.label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    margin-bottom: 0;
    text-transform: capitalize;
}

/* TABLET AND MOBILE */
@media (max-width: 63.9375em) {
    .nosupport {
        display: flex;
    }

    .app {
        display: none;
    }
}