.top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-weight: bold;
    font-size: 22px;
}

.image {
    width: 30px;
    height: 30px;
}

.paypal-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-user-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}

.card {
    flex: 1;
    padding: 9px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    max-width: 500px;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.card-item:first-child {
    margin-top: 0
}

.card-text {
    font-size: 15px;
}